@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
h1 {
  margin: 0;
}

#root {
  width: -webkit-fill-available;
}

body {
  display: flex;
  justify-content: center;
  background-color: #585858;
}

.logo {
  width: 7rem;
  height: fit-content;
}

h1 {
  display: flex;
  height: 10vh;
  align-items: center;
  background-image: url("./assets/images/header_bg.png");
  background-size: 60vh;
  background-repeat: no-repeat;
  background-position-x: center;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 9vh;
}

.antho {
  height: 40vh;
  z-index: 1;
  margin: -10vh;
}

header {
  background-image: url("./assets/images/background_image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  width: 100%;
  /* border-radius:45% 45% 0 0; */
  margin-top: -5vh;
  -webkit-clip-path: ellipse(85% 50% at 50% 50%);
  clip-path: ellipse(85% 50% at 50% 50%);
  height: 50vh;
  position: absolute;
  z-index: 2;
}

button {
  height: 5vh;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #585858;
  position: absolute;
}

.buttons {
  display: flex;
  justify-content: center;
}

.list {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #585858;
}

.button {
  box-shadow: -2px 5px 10px #2e2828;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  border-radius: 15px;
  border: 1px solid #333029;
  cursor: pointer;
  color: #585858;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  height: 10vh;
  width: 10vh;
}

.button:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}

.buttonClicked {
  background-color: red;
  box-shadow: -2px 5px 10px #2e2828;
  /* background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%); */
  border-radius: 15px;
  border: 1px solid #333029;
  cursor: pointer;
  color: #585858;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  height: 10vh;
  width: 10vh;
}