html, body, h1 {
   margin: 0;
}

#root {
  width: -webkit-fill-available;
}



body {
  display: flex;
  justify-content: center;
  background-color: #585858;
}

.logo {
  width: 7rem;
  height: fit-content;
  
}

h1 {
  display: flex;
  height: 10vh;
  align-items: center;
  background-image: url('./assets/header_bg.png');
  background-size: 60vh;
  background-repeat: no-repeat;
  background-position-x: center;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 9vh;
}

.antho {
  height: 40vh;
  z-index: 1;
  margin: -10vh
}

header {
  background-image: url('./assets/background_image2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  width:100%;
  /* border-radius:45% 45% 0 0; */
  margin-top: -5vh;
  -webkit-clip-path: ellipse(85% 50% at 50% 50%);
  clip-path: ellipse(85% 50% at 50% 50%);
  height: 50vh;
  position: absolute;
  z-index: 2;
}

button {
  height: 5vh;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #585858;
  position: absolute;
}

.buttons {
  display : flex;
}