#finish {
  height: 100vh;

  html,
  body,
  h1 {
    margin: 0;
  }

  main {
    height: 45vh;
    background-color: #585858;
    position: relative;
    z-index: 1;
  }

  header {
    background-image: url("./assets/images/background_image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55vh;
    width: 100%;
    position: relative;
    z-index: -4;
  }

  .bulle {
    width: 27vh;
    height: 20vh;
    top: 16vh;
    z-index: 1;
    background-image: url("./assets/images/bulle.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6rem;
    margin-top: -2rem;
  }

  .bulle p {
    font-family: "Kadwa";
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    margin-top: -4vh;
  }

  .headerelements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }

  .avatar {
    width: min-content;
  }

  .avatar img {
    width: 40vh;
  }

  img {
    max-width: 100vw;
  }

  .sentence {
    display: flex;
    justify-content: center;
    margin-left: 18vh;
    font-family: "Kadwa";
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
  }

  .logo {
    width: 7rem;
    height: fit-content;
  }

  .bgimg {
    display: flex;
    height: 10vh;
    align-items: center;
    background-image: url("./assets/images/header_bg.png");
    background-size: 60vh;
    background-repeat: no-repeat;
    background-position-x: center;
    justify-content: center;
  }

  .buttonsb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    filter: drop-shadow(0 -5px 5px #585858);
    box-shadow: inset 0 -10px 0 #5c4373;
    border: 2px solid;
    border-top: none;
    outline: none;
    border-radius: 50px;
    background-color: #9274ae;
    font-family: "Kadwa";
    font-size: 2rem;
    margin-top: 2vh;
  }

  .navi-finish {
    margin-top: -1px;
    width: 100%;
    background-color: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .resultBg {
    background-color: rgba(255, 255, 255, 0.918);
  }

  .resultTable {
    text-align: center;
    font-size: 15px;
  }

  .resultTable th {
    background-color: rgba(0, 0, 0, 0.182);
  }

  .resultTable td,
  th {
    border: 1px rgb(166, 166, 166) solid;
    padding: 0.2rem;
  }

  .resultTableWin {
    background-color: rgba(68, 255, 0, 0.243);
  }

  .resultTableLoose {
    background-color: rgba(255, 0, 0, 0.243);
  }

  .buttonSummary {
    padding: 0.5rem;
    filter: drop-shadow(0 -5px 5px #585858);
    box-shadow: inset 0 -10px 0 #5c4373;
    border: 2px solid;
    border-top: none;
    outline: none;
    border-radius: 10px;
    background-color: #9274ae;
    font-family: "Kadwa";
    font-size: 1.2rem;
  }

  .score {
    font-family: "Kadwa";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Kadwa";
    font-weight: bold;
    font-size: 3rem;
  }

  .retry {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    filter: drop-shadow(0 -5px 5px #585858);
    box-shadow: inset 0 -10px 0 #5c4373;
    border: 2px solid;
    border-top: none;
    outline: none;
    border-radius: 50px;
    background-color: #9274ae;
    font-family: "Kadwa";
    font-size: 2rem;
  }

  .btnhome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    filter: drop-shadow(0 -5px 5px #585858);
    box-shadow: inset 0 -10px 0 #5c4373;
    border: 2px solid;
    border-top: none;
    outline: none;
    border-radius: 50px;
    background-color: #9274ae;
    font-family: "Kadwa";
    font-size: 2rem;
  }

  .btns {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    margin-top: 4vh;
  }

  .tr {
    font-family: "Kadwa";
    font-size: 1.5rem;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    filter: drop-shadow(0 -5px 5px #585858);
    box-shadow: inset 0 -10px 0 #5c4373;
    border: 2px solid;
    border-top: none;
    outline: none;
    border-radius: 10px;
    background-color: #9274ae;
    font-family: "Kadwa";
    font-size: 1rem;
  }
}
