.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Kadwa bold";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.value {
  font-size: 60px;
}
